{% extends "auctions/layout.html" %}

{% block body %}
    

 
    <h2>{{message}}</h2>
        {% for item in item_listing%}
        <div>
            <Center>
               <a href="/auctions/{{item.pk}}"> <h3> {{item.item_title}}</h3> </a>
               <img src="{{item.item_url}}" width="150" height="150">
               <ul>
                   <li> <b>Bid:</b> ${{item.item_startbid}} </li>
                   <li> {{item.item_category}} </li>
                    <li>
                        <h4>Description:</h4>
                        <p width="300px"> {{item.item_description}}</p>
                    </li>
                    <li> {{item.item_created}} </li>

                </ul>
                ***********************************************************
            </Center>
                
        </div>
        {% endfor %}



{% endblock %}